<nav>
  <ul class="toolbar">
    <li>
      <a href=""  data-controller="editable" data-action="click->editable#convertTo" 
                  data-editable-target-element="h1" 
                  data-editable-selected-class="not-selected">
        <span class="material-symbols-outlined">
          format_h1
        </span>
      </a>
    </li>
    <li>

    </li>
  </ul>
</nav>

<turbo-frame id="document">
  <div>
    <% document.fragments.by_position.each do |fragment| %>
      <%= render partial: "active_markdown/fragments/form", locals: {fragment: fragment} %>
    <% end %>
  </div>
</turbo-frame>
